body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-white {
  color: #f4f4fd;
}

.logo-black {
  color: #2e2f42;
}

.header-nav-item {
  font-weight: 500;
  font-size: 16px;
}

.header-nav-link {
  color: #2e2f42;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.header-nav-link:active {
  text-decoration: underline;
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-link {
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  line-height: 1.5;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.footer {
  background-color: #2e2f42;
}
.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-item-text {
  color: #434455;
}

.features-title {
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
  text-align: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-item {
  background-color: #fff;
}

.team-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-item-position {
  color: #434455;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-item {
  background-color: #fff;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-item-text {
  color: #434455;
}

.footer-copy {
  color: #f4f4fd;
}
